header {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  align-items: center;
  padding: 23px 36px;
}

/* Hero */

section.hero--container {
  display: flex;
  flex-direction: column;
  padding: 26px 0px 49px;
}

.hero--img {
  width: 396px;
  align-self: center;
}

.hero--title,
.hero--description {
  line-height: 1.1;
}

.hero--title {
  font-size: 36px;
  font-weight: 600;
  margin: 32px 0 16px 0;
}

.hero--description {
  font-size: 16px;
  font-weight: 300;
  color: #222222;
  width: 320px;
}

/* Card */
main {
  padding: 0 36px 30px 36px;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 18px;
  overflow-x: auto;
}

.card--container {
  max-width: 176px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  font-size: 12px;
  font-weight: 300;
}

.card--img {
  width: 176px;
  height: 235px;
  border-radius: 9px;
}

.card--status {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.1;
  background-color: #FFFFFF;
  color: #222222;
  position: absolute;
  margin-left: 6px;
  margin-top: 6px;
  padding: 5px 6px;
  border-radius: 2px;
}

.card--rating-container {
  display: flex;
  align-items: center;
  gap: 2px;
  
  line-height: 1.1;
  color: #918E9B;
}

.card--rating-icon {
  color: #FE395C;
}

.card--rating {
  color: #222222;
}

.card--rating-dot {
  font-size: 3px;
}

.card--description,
.card--price {
  line-height: 1.1;
}

.card--price > span {
  font-weight: 600;
}